In [99]:
import pandas as pd
from datetime import datetime
from datetime import date
from datetime import timedelta

# playid, wordleid, userid,won_on_try,total_tries,date_entered

# (wordleid+playerid), int, str, nullable int, int, date

###
allstatsdf 
rank, playerid, total_games, avg_won_on_attempt win_percent, avg_attempt_num_won, started_playing_date

In [100]:
df = pd.DataFrame(columns = ['player_id', 'wordle_id', 'won_on_try_num', 'total_num_tries', 'created_date'])

In [101]:
df = df.append({'player_id':"travis",
                'wordle_id':200, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now() - timedelta(days = 2) }, 
                ignore_index = True)

In [102]:
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':202, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"ravis",
                'wordle_id':201, 
                'won_on_try_num' : 2, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"ravis",
                'wordle_id':202, 
                'won_on_try_num' : 1, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

In [85]:
def create_all_stats_df(df): #wordle df
    allstatsdf = pd.DataFrame()
    allstatsdf["total_games"] = df.groupby(df.player_id).size()
    allstatsdf["avg_won_on_attempt"] = df.groupby(df.player_id).won_on_try_num.mean()
    allstatsdf['win_percent'] = (df[df['won_on_try_num'].notna()].groupby(df.player_id).size() / df.groupby(df.player_id).size()) * 100
    allstatsdf['started_date'] = df.groupby(df.player_id).created_date.min()
    return allstatsdf

In [103]:
statsdf = pd.DataFrame()
todaydf = df[df['created_date'].dt.date >= date.today()]
todaydf[""]
# statsdf["total_games"] = df.groupby(df.player_id).size()
# statsdf["avg_won_on_attempt"] = df.groupby(df.player_id).won_on_try_num.mean()
# statsdf['win_percent'] = (df[df['won_on_try_num'].notna()].groupby(df.player_id).size() / df.groupby(df.player_id).size()) * 100
# statsdf['started_date'] = df.groupby(df.player_id).created_date.min()

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
1,travis,201,4,6,2022-02-09 23:07:37.226793
2,travis,202,5,6,2022-02-09 23:07:37.230782
3,ravis,201,2,6,2022-02-09 23:07:37.232780
4,ravis,202,1,6,2022-02-09 23:07:37.235769

In [76]:
allstatsdf

           win_percent
player_id
ravis             25.0
travis            75.0