In [153]:
import pandas as pd
from datetime import datetime, timedelta, date
from IPython import display

# playid, wordleid, userid,won_on_try,total_tries,date_entered

# (wordleid+playerid), int, str, nullable int, int, date

###
allstatsdf 
rank, playerid, total_games, avg_won_on_attempt win_percent, avg_attempt_num_won, started_playing_date

In [161]:
df = pd.DataFrame(columns = ['player_id', 'wordle_id', 'won_on_try_num', 'total_num_tries', 'created_date'])

In [162]:
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':202, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"1ravis",
                'wordle_id':201, 
                'won_on_try_num' : 2, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"2ravis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now() }, 
                ignore_index = True)

In [156]:
class WordleHistoryState:
    def __init__(self):
        self.wordle_df = pd.DataFrame(columns=[
            'player_id',  # str
            'wordle_id',  # int
            'won_on_try_num',  # optional<int>
            'total_num_tries',  # int
            'created_date'])  # int

    def add_wordle(self, player_id: str, wordle_id: int, won_on_try_num: int, total_num_tries: int, created_date: datetime):
        self.wordle_df = self.wordle_df.append({'player_id': player_id,
                                                'wordle_id': wordle_id,
                                                'won_on_try_num': won_on_try_num,
                                                'total_num_tries': total_num_tries,
                                                'created_date': created_date},
                                               ignore_index=True)

    def create_all_stats_df(self):  #
        allstatsdf = pd.DataFrame()
        groupedby_players = self.wordle_df.groupby(self.wordle_df.player_id)
        wordle_df = self.wordle_df
        allstatsdf["total_games"] = groupedby_players.size()
        allstatsdf["avg_won_on_attempt"] = groupedby_players.won_on_try_num.mean()
        allstatsdf['win_percent'] = (wordle_df[wordle_df['won_on_try_num'].notna()].groupby(
            wordle_df.player_id).size() / wordle_df.groupby(wordle_df.player_id).size()) * 100
        allstatsdf['started_date'] = groupedby_players.created_date.min()
        return allstatsdf.sort_values(["avg_won_on_attempt", "win_percent", "started_date"],
                                      ascending=(True, False, True)).round(1).reset_index()

In [163]:
reset = df
reset

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
0,travis,201,5,6,2022-02-11 20:42:47.718513
1,travis,201,4,6,2022-02-11 20:42:47.722269
2,travis,201,4,6,2022-02-11 20:42:47.725078
3,travis,201,4,6,2022-02-11 20:42:47.727686
4,travis,201,None,6,2022-02-11 20:42:47.730145
5,travis,202,5,6,2022-02-11 20:42:47.733138
6,1ravis,201,2,6,2022-02-11 20:42:47.735920
7,2ravis,201,None,6,2022-02-11 20:42:47.738697

In [189]:
# for $today
df = reset
top = None
# df = self.wordle_df
df = df.loc[(date.today() == df['created_date'].dt.date)]
wid = df.wordle_id.value_counts().max()
# df = df.loc[(wid == df['wordle_id'])]  # only show the most used wordle id to filter out bad
percent_of_winners = df.won_on_try_num.notna().mean()
df.won_on_try_num = pd.to_numeric(df.won_on_try_num)
avg_turn_won = df.won_on_try_num.mean()

if top:
    df = df.nlargest(top, 'won_on_try_num')

df = df.sort_values(["won_on_try_num", "created_date"], ascending=(True, True))
df = df.reset_index(drop=True)
df

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
0,1ravis,201,2.0,6,2022-02-11 20:42:47.735920
1,travis,201,4.0,6,2022-02-11 20:42:47.722269
2,travis,201,4.0,6,2022-02-11 20:42:47.725078
3,travis,201,4.0,6,2022-02-11 20:42:47.727686
4,travis,201,5.0,6,2022-02-11 20:42:47.718513
5,travis,202,5.0,6,2022-02-11 20:42:47.733138
6,travis,201,NaN,6,2022-02-11 20:42:47.730145
7,2ravis,201,NaN,6,2022-02-11 20:42:47.738697

In [185]:
winners_avg

0.75

In [186]:
df.dtypes

player_id                  object
wordle_id                  object
won_on_try_num            float64
total_num_tries            object
created_date       datetime64[ns]
dtype: object