In [1]:
import pandas as pd
from datetime import datetime, timedelta, date
from IPython import display

# playid, wordleid, userid,won_on_try,total_tries,date_entered

# (wordleid+playerid), int, str, nullable int, int, date

###
allstatsdf 
rank, playerid, total_games, avg_won_on_attempt win_percent, avg_attempt_num_won, started_playing_date

In [2]:
df = pd.DataFrame(columns = ['player_id', 'wordle_id', 'won_on_try_num', 'total_num_tries', 'created_date'])

In [3]:
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':202, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"1ravis",
                'wordle_id':201, 
                'won_on_try_num' : 2, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"2ravis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now() }, 
                ignore_index = True)

In [ ]:
class WordleHistoryState:
    def __init__(self):
        self.wordle_df = pd.DataFrame(columns=[
            'player_id',  # str
            'wordle_id',  # int
            'won_on_try_num',  # optional<int>
            'total_num_tries',  # int
            'created_date'])  # int

    def add_wordle(self, player_id: str, wordle_id: int, won_on_try_num: int, total_num_tries: int, created_date: datetime):
        self.wordle_df = self.wordle_df.append({'player_id': player_id,
                                                'wordle_id': wordle_id,
                                                'won_on_try_num': won_on_try_num,
                                                'total_num_tries': total_num_tries,
                                                'created_date': created_date},
                                               ignore_index=True)

    def create_all_stats_df(self):  #
        allstatsdf = pd.DataFrame()
        groupedby_players = self.wordle_df.groupby(self.wordle_df.player_id)
        wordle_df = self.wordle_df
        allstatsdf["total_games"] = groupedby_players.size()
        allstatsdf["avg_won_on_attempt"] = groupedby_players.won_on_try_num.mean()
        allstatsdf['win_percent'] = (wordle_df[wordle_df['won_on_try_num'].notna()].groupby(
            wordle_df.player_id).size() / wordle_df.groupby(wordle_df.player_id).size()) * 100
        allstatsdf['started_date'] = groupedby_players.created_date.min()
        return allstatsdf.sort_values(["avg_won_on_attempt", "win_percent", "started_date"],
                                      ascending=(True, False, True)).round(1).reset_index()

In [4]:
reset = df
reset

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
0,travis,201,5,6,2022-02-11 23:52:20.752092
1,travis,201,4,6,2022-02-11 23:52:20.755336
2,travis,201,4,6,2022-02-11 23:52:20.758297
3,travis,201,4,6,2022-02-11 23:52:20.760892
4,travis,201,None,6,2022-02-11 23:52:20.763384
5,travis,202,5,6,2022-02-11 23:52:20.766401
6,1ravis,201,2,6,2022-02-11 23:52:20.769093
7,2ravis,201,None,6,2022-02-11 23:52:20.771816

In [ ]:
# for $today
df = reset
top = None
# df = self.wordle_df
df = df.loc[(date.today() == df['created_date'].dt.date)]
wid = df.wordle_id.value_counts().max()
# df = df.loc[(wid == df['wordle_id'])]  # only show the most used wordle id to filter out bad
percent_of_winners = df.won_on_try_num.notna().mean()
df.won_on_try_num = pd.to_numeric(df.won_on_try_num)
avg_turn_won = df.won_on_try_num.mean()

if top:
    df = df.nlargest(top, 'won_on_try_num')

df = df.sort_values(["won_on_try_num", "created_date"], ascending=(True, True))
df = df.reset_index(drop=True)
df

In [ ]:
winners_avg

In [ ]:
df.dtypes

In [10]:
df = reset
df.created_date.tz_localize('US/Eastern').dt.tz_convert('US/Central')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [13]:
df['created_date'].tz_convert('US/Eastern')

TypeError: index is not a valid DatetimeIndex or PeriodIndex

In [15]:
df['created_date'] = pd.to_datetime(df.created_date, unit='ms').dt.tz_localize('UTC').dt.tz_convert('US/Eastern')

In [16]:
df

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
0,travis,201,5,6,2022-02-11 18:52:20.752092-05:00
1,travis,201,4,6,2022-02-11 18:52:20.755336-05:00
2,travis,201,4,6,2022-02-11 18:52:20.758297-05:00
3,travis,201,4,6,2022-02-11 18:52:20.760892-05:00
4,travis,201,None,6,2022-02-11 18:52:20.763384-05:00
5,travis,202,5,6,2022-02-11 18:52:20.766401-05:00
6,1ravis,201,2,6,2022-02-11 18:52:20.769093-05:00
7,2ravis,201,None,6,2022-02-11 18:52:20.771816-05:00