In [2]:
import pandas as pd
from datetime import datetime, timedelta, date
from IPython import display

In [2]:
df = pd.DataFrame(columns = ['player_id', 'wordle_id', 'won_on_try_num', 'total_num_tries', 'created_date'])

In [3]:
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : 4, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)

df = df.append({'player_id':"travis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"travis",
                'wordle_id':202, 
                'won_on_try_num' : 5, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"1ravis",
                'wordle_id':201, 
                'won_on_try_num' : 2, 
                'total_num_tries' : 6,
                'created_date': datetime.now()}, 
                ignore_index = True)
df = df.append({'player_id':"2ravis",
                'wordle_id':201, 
                'won_on_try_num' : None, 
                'total_num_tries' : 6,
                'created_date': datetime.now() }, 
                ignore_index = True)

In [4]:
reset = df
reset

,player_id,wordle_id,won_on_try_num,total_num_tries,created_date
0,travis,201,5,6,2022-02-12 20:36:25.624732
1,travis,201,4,6,2022-02-12 20:36:25.628361
2,travis,201,4,6,2022-02-12 20:36:25.630916
3,travis,201,4,6,2022-02-12 20:36:25.633618
4,travis,201,None,6,2022-02-12 20:36:25.636311
5,travis,202,5,6,2022-02-12 20:36:25.639673
6,1ravis,201,2,6,2022-02-12 20:36:25.642555
7,2ravis,201,None,6,2022-02-12 20:36:25.645546

In [5]:
df = reset

In [8]:
df.wordle_id.mode()[0]

201

In [3]:
import numpy as np
all_wordle_solutions = np.load("words.npy")

In [4]:
all_wordle_solutions = np.load("words.npy")

In [6]:
all_wordle_solutions

array(['cigar', 'rebut', 'sissy', ..., 'artsy', 'rural', 'shave'],
      dtype='<U5')